@import 'tailwindcss';

:root {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --color-header: #181818;
  --color-header-button: #242424;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
}

button {
  cursor: pointer;
}
